* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

body {
/*	font-size: 16px;*/
  background:url(../images/bg.jpg);	
	background-repeat: repeat;
}
.small {
  font-size: 12px; /* 75% of the baseline */
}
.midi {
  font-size: 16px;	
}
.large {
  font-size: 20px; /* 125% of the baseline */
}
.caps {
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;	
}

/*Меню*/

menu {
	background: #ccc;
}
.list-gal,
.list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;	
	list-style: none;	
}
.list-gal ul,
.list ul {
/*	padding: 12px 0;*/
	margin: 0.5em;	
}
.list-gal li a,
.list li a {
	display: inline-block;
/*	padding: 12px 0;*/
	text-decoration: none;
	color: #00acc1;
	-webkit-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.list li a:hover {
	color: #FFF852;
}

header {
	height: 300px;
	background-image: url(../images/header.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;	
	-webkit-box-align: center;	
	-webkit-align-items: center;	
	-ms-flex-align: center;	
	align-items: center;
}
.banner-text h1 {
	color: #fff;
	font-size: 40px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
	text-align: center;	
}
.banner-text h2 {
	color: #fff;
	font-size: 20px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
	text-align: center;	
}

/*Блоки текста*/

.wrapper_body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 0;
	padding: 20px 0; 
	color: #4A4A4A ;
	text-align: center;
}
.cbm_wrap{
	background: rgba(255,255,255,0.3);
	width: 300px;
	min-height: 310px;
	padding: 12px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2), inset 0 0 1px 0 rgba(255,255,255,1);
	margin:  20px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #4A4A4A !important;
/*    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);*/
}
.cbm_wrap img {
    width: 100%;
    margin-top: 15px;
}
.cbm_wrap h3{
	font-weight: 500;
	margin-top: 5px; 
	color: #4A4A4A !important;	
}
.cbm_wrap h4 {
	font-weight: 500;	
}
.cbm_wrap a{
	text-decoration: none;
	color: #4A4A4A !important;
}.cbm_wrap a:hover{
	text-decoration: underline;
	color: #6B6B6B !important ;
}
.cbm_wrap p{
	margin-top: 15px !important;
	text-align: justify !important;
}


/**************/
/*Слайдер*/
#slider {
	max-width: 80%;
	margin: 40px auto 50px;
}
.sl {
	width: 80%;
	margin: 0 auto;
}
.sl div img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/*Галерея*/

 .container {
	width: 100%;
	margin: 30px auto;
/*	overflow: hidden;*/
}
.gal {
	display: block;
}	 
.container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

}

.container ul li {
/*  flex-grow: 1;*/
/*
	display: flex;
	flex-shrink: 1;
*/
  list-style:none; 
	max-width: 450px; 
	height: 300px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;		
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);	
	display: block;
	margin: 20px auto;
}
.container ul li:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;	
}
.container ul li a img {
  display: block;
  width: 100%; /* ширина картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;	
}

/*
.image-grid {
	margin-top: 24px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

}
.image-grid div {
	height: 300px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
*/
/*
.image-grid div:hover {
	opacity: 1;	
}
*/
.image1 {
	background: url(../images/image1.jpg);
}
.image2 {
	background: url(../images/image2.jpg);
}
.image3 {
	background: url(../images/image3.jpg);
}
.image4 {
	background: url(../images/image4.jpg);
}
.image5 {
	background: url(../images/image5.jpg);
}
.image6 {
	background: url(../images/image6.jpg);
}
.image7 {
	background: url(../images/image7.jpg);
}
.image8 {
	background: url(../images/image8.jpg);
}
.image9 {
	background: url(../images/image9.jpg);
}

/*Текст в галерее*/

.thumbs {
  width: 100%;
  max-width: 450px; /* опционально */
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.thumbs:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.thumbs img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.thumbs .caption .info {
  line-height: 1.2;
  margin-top: 5px;
}
.thumbs:focus:before,
.thumbs:focus span, .thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before, .thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span, .thumbs:hover span {
  top: 0;
}
.thumbs:focus .title, .thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.thumbs:focus .info, .thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

/*Карта*/

.wrapper_body_map {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 0;
	padding: 20px 0; 
	color: #4A4A4A ;
	text-align: center;
}
.cbm_wrap_map{
	display: inline-block;
/*	background: rgba(255,255,255,0.3);*/
/*
	width: 300px;
	min-height: 310px;
*/
	padding: 12px;
/*	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2), inset 0 0 1px 0 rgba(255,255,255,1);*/
	margin:  20px auto;
/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #4A4A4A !important;
*/
}

#map {
/*	display: flex;	*/
	flex-basis: 100%;
	background: rgba(255,255,255,0.3);
/*
	max-width: 600px;
	max-height: 400px;
*/
/*	width: 50%;*/
	
}

/*Footer*/

footer {
	background: #ccc;
}
#footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;		
/*
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
*/
	background: #ccc;	
}

#social,
.phone,
.post,
.schedule,
#autor {
/*	width: 100%;*/
	margin: 0 15px;	
	padding: 5px;	
	text-align: center;	
	border-top: 1px solid rgba(255, 255, 255, 0.4);
/*	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	*/
}

#informer {
	margin-top: 5px;		
/*	align-self: center;*/
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}
#contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
/*	margin-top: 10px;*/
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}

#autor span a,
.schedule div a {
	text-decoration: none;
	color: #00acc1;
	transition: color 0.5s ease-in-out;	
}

#social-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: center;
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}
#social {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px auto;
}


/*Кнопка UP*/
#button-up {
/*	display: flex;*/
	align-self: center;	
  width: 2em;
  height: 2em;
	margin: 0 auto 5px auto;
  stroke-width: 0;
  stroke: #000;
  fill: #00acc1;
	transition: color 0.5s ease-in-out;	
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}
#button-up:hover {
  fill: #FFF852;	
}
#autor {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
}
#autor span {
	display: inline-block;
	margin: 10px auto;	
}
#autor span a:hover,
.schedule div a:hover {
	color: #FFF852;	
}

@media screen and (min-width: 1024px) {
	.list-gal,
	.list {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;	
	}
	.list-gal li,
	.list li {
		padding: 0.5em;
	}
	.list-gal li a,
	.list li a {
		border: none;
	}
	.list-gal li a img,
	.list li a img {
		width: 100%;
		height: auto;
	}	
	.banner-text h1 {
		font-size: 64px;
	}	
	
/*Текстовые блоки*/
	
.wrapper_body {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

/*Галерея*/
	
/*Footer*/
	#footer-content {
		flex-direction: row;
		justify-content: space-around;		
	}
	#contacts {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;	
	}
	#social,
	.phone,
	.post,
	.schedule {
		border: none;
	}
	#social-block {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	#button-up {
		margin: 0 auto;
	}
	
	.wrapper_body_map {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
/*
		justify-content: center;
		text-align: center;
*/
	}
	.reklama {
/*
		flex-basis: 300px;
		flex-shrink: 0;		
*/
	}
	#map {
/*		flex-grow: 1;*/
		flex-basis: 60%;
	}	
	
}


@media screen and (max-width: 617px) {
	#map {
		width: 550px;
		height: 366px;
	}
}
/*
@media screen and (max-width: 768px) {
	.image-grid {
		flex-direction: column;
	}
	.image-grid div {
		width: 100%;
		height: 400px;
		margin: 0 auto;
	}	
  .list {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
  }
  .list li a {
		display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }
	.banner-text h1 {
		font-size: 50px;
	}		
  #contacts {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
  }		
}
*/

/*
@media screen and (max-width: 600px) {
	.image-grid {
		flex-direction: column;
	}
	.image-grid div {
		width: 100%;
		height: 400px;
		margin: 0 auto;
	}	
}
*/

/*
@media screen and (max-width: 520px) {
	.banner-text h1 {
		font-size: 40px;
	}
	#footer-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}	
}
*/
@media screen and (max-width: 320px) {
	#social-block {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#map {
		max-width: 310px;
		max-height: 206px;		
	}
}
