* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	color: #383838;
}
body {
/*	font-size: 16px;*/
  background:url(../images/bg.jpg);	
	background-repeat: repeat;
}
.small {
  font-size: 12px; /* 75% of the baseline */
}
.midi {
  font-size: 16px;	
}
.large {
  font-size: 20px; /* 125% of the baseline */
}
.caps {
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;	
}

/*Меню*/

menu {
	background: #ccc;
}
#top-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;	
	list-style: none;	
}
#top-menu ul {
	padding: 12px 0;
}
#top-menu li a {
	display: inline-block;
/*	padding: 12px 0;*/
	padding: 0.5em;
	text-decoration: none;
	color: #00acc1;
	-webkit-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
/*	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	*/
}
#top-menu li a:hover {
/*	display: inline-block;*/
/*	padding: 12px 0;*/
/*	text-decoration: none;*/
	color: #FFF852;
}

header {
	height: 300px;
	background-image: url(../images/header.jpg);
/*	background-image: url(../images/background1.jpg);*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;	
	align-items: center;
}
.banner-text h1 {
	color: #fff;
	font-size: 40px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
	text-align: center;	
}

/*Блоки текста*/

.wrapper_body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
	z-index: 0;
	padding: 20px 0; 
/*	font-size: 16px;*/
	color: #4A4A4A ;
	text-align: center;
}
.cbm_wrap{
	background: rgba(255,255,255,0.3);
	width: 300px;
	min-height: 310px;
	padding: 12px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2),   inset 0 0 1px 0 rgba(255,255,255,1);
	margin:  20px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #4A4A4A !important;
/*    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);*/
}
.cbm_wrap img {
    width: 100%;
    margin-top: 15px;
}
.cbm_wrap h3{
	font-weight: 500;
	margin-top: 5px; 
	color: #4A4A4A !important;	
}
.cbm_wrap h4 {
	font-weight: 500;	
}
.cbm_wrap a{
	text-decoration: none;
	color: #4A4A4A !important;
}.cbm_wrap a:hover{
	text-decoration: underline;
	color: #6B6B6B !important ;
}
.cbm_wrap p{
	margin-top: 15px !important;
	text-align: justify !important;
}


/**************/
/*Слайдер*/
#slider {
	max-width: 80%;
	margin: 40px auto 50px;
}
.sl {
	width: 80%;
	margin: 0 auto;
}
.sl div img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
/*
#slider {
	max-width: 80%;
	margin: 20px auto;
}
.sl {
	width: 100%;
}
.sl__slide {
	position: relative;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: 50% 50%;	
}
.sl__slide img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.sl__text {
	position: absolute;
	bottom: 0;
	background: rgb(0,0,0,0.5);
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
	padding: 20px 0;
}
.sl__text h3,
.sl__text p {
	color: #fff;
}
.sl__zag, sl__desc {
	margin: 0;
	padding: 0 10px;
}
.slick-dots li button {
	border: 2px solid #777;
	border-radius: 50%;
	box-shadow: -2px 1px 3px rgba(0, 0, 0, .2);
	-webkit-transition: border-color: .3s;
	-o-transition: border-color: .3s;
	transition: border-color: .3s;
}
.slick-dots li button:before {
	content: '';
	width: 10px;
	height: 10px;
	background: #777;
	opacity: 1;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
	-webkit-transition: background: .3s;
	-o-transition: background: .3s;	
	transition: background: .3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	border-color: #fff;
}
.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
	background: #fff;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
*/

/*
#attraction {
	margin-top: 20px;
}
*/
/*Галерея*/

.image-grid {
	margin-top: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image-grid div {
/*	width: calc(100%/3);*/
	height: 300px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
/*
	opacity: 0.8;	
	transition: opacity 0.3s ease-in-out;
*/
}
/*
.image-grid div:hover {
	opacity: 1;	
}
*/
.image1 {
	background: url(../images/image1.jpg);
}
.image2 {
	background: url(../images/image2.jpg);
}
.image3 {
	background: url(../images/image3.jpg);
}
.image4 {
	background: url(../images/image4.jpg);
}
.image5 {
	background: url(../images/image5.jpg);
}
.image6 {
	background: url(../images/image6.jpg);
}
.image7 {
	background: url(../images/image7.jpg);
}
.image8 {
	background: url(../images/image8.jpg);
}
.image9 {
	background: url(../images/image9.jpg);
}

/*Текст в галерее*/

.thumbs {
	display: flex;
  width: 100%;
  max-width: 450px; /* опционально */
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.thumbs:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.thumbs img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.thumbs .caption .info {
  line-height: 1.2;
  margin-top: 5px;
}
.thumbs:focus:before,
.thumbs:focus span, .thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before, .thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span, .thumbs:hover span {
  top: 0;
}
.thumbs:focus .title, .thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.thumbs:focus .info, .thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#map {
/*	flex-basis: 50%;*/
	background: rgba(255,255,255,0.3);
	width: 600px;
	min-height: 310px;
	padding: 12px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2),   inset 0 0 1px 0 rgba(255,255,255,1);
	margin:  20px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff !important;	
}

/*Footer*/

footer {
	background: #ccc;
}
#footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;		
/*
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
*/
	background: #ccc;	
}

#social,
.phone,
.post,
.schedule,
#autor {
/*	width: 100%;*/
	margin: 0 15px;	
	padding: 5px;	
	text-align: center;	
	border-top: 1px solid rgba(255, 255, 255, 0.4);
/*	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	*/
}

#informer {
	margin-top: 5px;		
/*	align-self: center;*/
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}
#contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
/*	margin-top: 10px;*/
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}

#autor span a,
.schedule div a {
	text-decoration: none;
	color: #00acc1;
	transition: color 0.5s ease-in-out;	
}

#social-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: center;
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}
#social {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px auto;
}


/*Кнопка UP*/
#button-up {
/*	display: flex;*/
	align-self: center;	
  width: 2em;
  height: 2em;
	margin: 0 auto 5px auto;
  stroke-width: 0;
  stroke: #000;
  fill: #00acc1;
	transition: color 0.5s ease-in-out;	
/*
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
*/
}
#button-up:hover {
  fill: #FFF852;	
}
#autor {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
}
#autor span {
	display: inline-block;
	margin: 10px auto;	
}
#autor span a:hover,
.schedule div a:hover {
	color: #FFF852;	
}



@media screen and (min-width: 1024px) {
	#top-menu {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;	
	}
	#top-menu li a {
		border: none;
	}
	#top-menu li a img {
		width: 100%;
		height: auto;
	}	
	.banner-text h1 {
		font-size: 64px;
	}	
/*
	.image-grid {
		flex-direction: column;
	}
	.image-grid div {
		width: 100%;
		height: 400px;
		margin: 0 auto;
	}	
*/
	#footer-content {
		flex-direction: row;
		justify-content: space-around;		
	}
	#contacts {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;	
	}
	#social,
	.phone,
	.post,
	.schedule {
		border: none;
	}
	#social-block {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
/*		border: 1px solid black;*/
	}
	#button-up {
		margin: 0 auto;
/*		border: 1px solid black;		*/
	}
}

/*
@media screen and (max-width: 768px) {
	.image-grid {
		flex-direction: column;
	}
	.image-grid div {
		width: 100%;
		height: 400px;
		margin: 0 auto;
	}	
  #top-menu {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
  }
  #top-menu li a {
		display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }
	.banner-text h1 {
		font-size: 50px;
	}		
  #contacts {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
  }		
}
*/

/*
@media screen and (max-width: 600px) {
	.image-grid {
		flex-direction: column;
	}
	.image-grid div {
		width: 100%;
		height: 400px;
		margin: 0 auto;
	}	
}
*/

/*
@media screen and (max-width: 520px) {
	.banner-text h1 {
		font-size: 40px;
	}
	#footer-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}	
}
*/
/*
@media screen and (max-width: 485px) {
	#social-block {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
*/
